<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <style type="text/css">
	<!--
	#Title {color: black;}
	td {white-space: nowrap;}
	-->
      </style>
      <title>Run Browser</title>
  </head>
  <body>
    <h1 id="Title">Run Browser v0.1</h1>
    {%- if "table" in node %}
      {%- for table in node["table"] %}
	<table id="DataTable" border=1>
	  <thead>
            <tr>
              {%- for key in table["header"] %}
		<th>{{key}}</th>
              {%- endfor %}
            </tr>
	  </thead>
	  <tbody>
            {%- for name in table["name"] %}
	      {%- block index %}
	      {%- set index  = table["name"].index(name) %}
              <tr>
	    	{%- for key in table["header"] %}
		  {%- if key = "name" %}
                    <td><a href='{{table["path"][index]}}'>{{table[key][index]}}</a></td>
		  {%- else %}
                    <td>{{table[key][index]}}</td>
		  {%- endif %}
	    	{%- endfor %}
              </tr>
	    {%- endblock index %}
            {%- endfor %}
	  </tbody>
	</table>
      {%- endfor %}
    {%- endif %}
  </body>
</html>
