<table class={{data.tags[0] + "TableWidget"}} border=1>
  <thead>
    {%- set ngroup = data.col_groupname|length %}
    <tr class="group">
      <th> </th>
      {%- for igroup in range(ngroup) %}
        {%- set num  = data.col_name[igroup]|length %}
        <th colspan="{{num}}">{{data.col_groupname[igroup]}}</th>
      {%- endfor %}
    </tr>
    <tr class="items">
      <th class="name">name</th>
      {%- for igroup in range(ngroup) %}
        {%- for colname in data.col_name[igroup] %}
          <th class="{{colname}} {{data.col_groupname[igroup]}}">{{colname}}</th>
        {%- endfor %}
      {%- endfor %}
    </tr>
  </thead>
  <tbody>
    {%- for irow in range(data.row_name|length) %}
        <tr align=right path={{data.row_path[irow]}}>
        <td class="name">{{data.row_name[irow]}}</td>
        {%- for igroup in range(ngroup) %}
          {%- for colname in data.col_name[igroup] %}
            <td class="{{colname}} {{data.col_groupname[igroup]}}">{{data.table[igroup][colname][irow]}}</td>
          {%- endfor %}
        {%- endfor %}
      </tr>
    {%- endfor %}
  </tbody>
</table>
