<table class={{data.tags[0] + "TableWidget"}} border=1>
  <thead>
    {%- set ngroup = data.col_groupname|length %}
    <tr>
      <th rowspan="2"></th>
      {%- for igroup in range(ngroup) %}
        {%- set num  = data.col_name[igroup]|length %}
        <th colspan="{{num}}">{{data.col_groupname[igroup]}}</th>
      {%- endfor %}
    </tr>
    <tr>
      {%- for igroup in range(ngroup) %}
        {%- for colname in data.col_name[igroup] %}
          <th>{{colname}}</th>
        {%- endfor %}
      {%- endfor %}
    </tr>
  </thead>
  <tbody>
    {%- for irow in range(data.row_name|length) %}
      <tr align=right>
        <td>{{data.row_name[irow]}}</td>
        {%- for igroup in range(ngroup) %}
          {%- for colname in data.col_name[igroup] %}
            <td>{{data.table[igroup][colname][irow]}}</td>
          {%- endfor %}
        {%- endfor %}
      </tr>
    {%- endfor %}
  </tbody>
</table>
