td.comment{
    white-space: nowrap;
    width: 300px;
}

td.comment:hover{
    background: #DDDDDD;
}

tr>input.comment{
    background: #EEEEEE;
    width: 300px;
    size: 120;
}

label:hover{
    background: #DDDDDD;
}


div.hide-show{
    line-height: 180%;
}

label{
    border: 1px solid #AAAAAA;
    background: #eff;
    padding: 0px 2px 0px;
}

tr:nth-child(odd)
       {
       background-color: #fff;
       }

tr:nth-child(even)
       {
       background-color: #dff;
       }
