td.comment{
    white-space: nowrap;
    width: 300px;
}

td.comment:hover, td.name:hover, label:hover{
    background: #DDDDDD;
}

tr>input.comment{
    background: #EEEEEE;
    width: 300px;
    size: 120;
}

tr:nth-child(odd)
       {
       background-color: #fff;
       }

tr:nth-child(even)
       {
       background-color: #dff;
       }
