*~
_build
*.pyc

server/js/jquery-1.10.2.js
server/js/jquery.cookie.js
server/js/jquery.blockUI.js
server/js/bootstrap.min.js
server/css/bootstrap.min.css
server/cfg.json
server/server.log
server/error.log

sample/data_information.json
sample/figures/

env
references
test-references
.python-version
