*~
_build
*.pyc

server/static/js/jquery-1.10.2.js
server/static/js/jquery.cookie.js
server/static/js/jquery.blockUI.js
server/static/js/jquery.dataTables.min.js
server/static/js/dataTables.colReorder.min.js
server/static/js/dataTables.fixedColumns.min.js
server/static/js/multifilter.min.js
server/static/js/bootstrap.min.js
server/static/css/bootstrap.min.css
server/static/css/jquery.dataTables.min.css
server/static/css/dataTables.colReorder.min.css
server/static/css/dataTables.fixedColumns.min.css
server/static/images
server/static/fonts
server/server.log
server/error.log

sample/data_information.json
sample/figures/

env
references
test-references
.python-version
