{% if dirs %}
<div class="panel panel-default">
  <div class="panel-heading">Directories</div>
  <ul class="list-group">
    {% for d in dirs %}
    <li class="list-group-item">{{d|e}}</td>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if files %}
<div class="panel panel-default">
  <div class="panel-heading">Files</div>
  <ul class="list-group">
    {% for fn in files %}
    <li class="list-group-item">{{fn|e}}</td>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% if sequences %}
<div class="panel panel-default">
  <div class="panel-heading">Sequences</div>
  <table class="table">
    <thead>
      <tr>
        <th>Pattern</th>
        <th>#files</th>
      </tr>
    </thead>
    <tbody>
      {% for seq in sequences %}
      <tr>
        <td>{{seq[0]|e}}</td>
        <td>{{seq[1]|e}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
