{% extends "layout.html" %}
{% block header %}
<h2>IPython Notebooks</h2>
{% endblock %}
{% block body %}
<table class="table">
  <thead>
    <tr>
      <td>name</td>
      <td>comment</td>
      <th>tag</th>
      <td>last modified</td>
      <td>path</td>
    </tr>
  </thead>
  <tbody>
    {% for n in ipynb %}
    <tr>
      {% if n["url"] %}
      <td><a href="{{n['url']}}" target="_blank">{{n["name"]|e}}</a></td>
      {% else %}
      <td>{{n["name"]|e}}</td>
      {% endif %}
      <td class="dp-comment" dp-path="{{n['path']}}">{{n["comment"]|e}}</td>
      <td>
        {% for t in n["tag-nodes"] %}
        <span class="label label-default"><a href="{{ url_for('show_node', path=t['path'][1:])}}">{{t['name']|e}}</a></span>
        {% endfor %}
      </td>
      <td>{{n["mtime_str"]|e}}</td>
      <td>{{n["path"]|e}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
