<!DOCTYPE html>
<html>

<head>
  <title>DataProcessor WebApp</title>
  <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.colReorder.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.fixedColumns.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/webapp.css') }}" type="text/css">
</head>

<body>
  <div class="container">
    <header>
      <h1>DataProcessor</h1>
    </header>
    <ol id="LocationBar" class="breadcrumb">
      <li><a class="dp-nav dp-projectlist">Project List</a></li>
    </ol>
    <section class="dp-projectlist"></section>
    <section class="dp-project"></section>
    <section class="dp-run"></section>
  </div>
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.colReorder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  <script src="{{ url_for('static', filename='js/comment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/run.js') }}"></script>
  <script src="{{ url_for('static', filename='js/project.js') }}"></script>
  <script src="{{ url_for('static', filename='js/projectlist.js') }}"></script>
</body>

</html>
