<!DOCTYPE html>
<html>

<head>
  <title>DataProcessor WebApp</title>
  <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.colReorder.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.fixedColumns.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/webapp.css') }}" type="text/css">

  <!-- set URL -->
  <script> 
  var DELETE_PROJECT_URL="{{ url_for('delete_project') }}";
  </script>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('show_projectlist') }}">DataProcessor</a>
      </div>
      {% for message in get_flashed_messages() %}
      <p class="navbar-text navbar-right label label-info">
        {{ message }}
      </p>
      {% endfor %}
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="dp-nav" href="{{ url_for('show_projectlist') }}">Project List</a></li>
          <li><a class="dp-nav" href="{{ url_for('show_ipynblist') }}">IPython Notebooks</a></li>
        </ul>
      </div>
      {% block header %}
      {% endblock %}
    </div>
  </nav>
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
  <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataTables.colReorder.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
  <script src="{{ url_for('static', filename='js/comment.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dataprocessor.js') }}"></script>
</body>

</html>
