{% extends "layout.html" %}

{% block header %}
{% include "node_page_header.html" %}
{% endblock %}

{% block body %}
{% if not df.empty %}
<div class="filters">
  <div class="filter-container">
    <input autocomplete="off" class="filter" name="Name" placeholder="Name" data-col="Name" />
    <input autocomplete="off" class="filter" name="Comment" placeholder="Comment" data-col="Comment" />
  </div>
  <div class="filter-container">
  {% for c in cfg %}
  <input autocomplete="off" class="filter" name="{{c|e}}" placeholder="{{c|e}}" data-col="{{c|e}}" />
  {% endfor %}
  </div>
</div>
<p>
<table class="dp-project table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      {% for c in cfg %}
      <th>{{c|e}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for path in df.index %}
    {% set s = df.ix[path] %}
    <tr>
      <td>
        <a href="{{ url_for('show_node', path=path[1:]) }}"> {{s["name"]|e}} </a>
      </td>
      <td class="dp-comment" dp-path="{{path}}">{{s["comment"]|e}}</td>
      {% for c in cfg %}
      <td>{{s[c]|e}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% include "files.html" %}
{% endblock %}
