{% extends "layout.html" %}
{% block header %}
<h2>Project List</h2>
{% endblock %}
{% block body %}
<table class="dp-projectlist table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Comment</th>
      <th>Path</th>
    </tr>
  </thead>
  <tbody>
    {%- for p in projects %}
    <tr>
      <td>
        <a href="{{ url_for('show_node', path=p.path[1:]) }}">{{p.name|e}}</a>
      </td>
      <td class="dp-comment" dp-path="{{p.path}}">{{p.comment|e}}</td>
      <td>{{p.path|e}}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
{% endblock %}
