{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
  <h2>{{node["name"]|e}}</h2>
  <dl class="dl-horizontal">
    <dt>path</dt>
    <dd>{{node["path"]|e}}</dd>
    <dt>comment</dt>
    <dd class="dp-comment" dp-path="{{node['path']}}">{{node["comment"]|e}}</dd>
  </dl>
</div>
<table class="dp-project table table-condensed table-striped">
  <thead>
    <tr>
      <th>name</th>
      <th>comment</th>
      {% for c in cfg %}
      <th>{{c|e}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for path in df.index %}
    {% set s = df.ix[path] %}
    <tr>
      <td>
        <a href="{{ url_for('show_run', path=path[1:]) }}">{{s["name"]|e}}</a>
      </td>
      <td class="dp-comment" dp-path="{{path}}">{{s["comment"]|e}}</td>
      {% for c in cfg %}
      <td>{{s[c]|e}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
