{% extends "layout.html" %}

{% block header %}
{% include "node_page_header.html" %}
{% endblock %}

{% block body %}
{% if 'video' in node %}
  {% set video_src = url_for('static', filename=node['video']['link']) %}
  {% if node['video']['path'].endswith('gif') %}
  <img src="{{video_src}}" />
  {% else %}
  <video src="{{video_src}}" />
  {% endif %}
{% endif %}
{% if ipynb %}
<div class="panel panel-default">
  <div class="panel-heading">IPython Notebooks</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Comment</th>
        <th>Path</th>
      </tr>
    </thead>
    <tbody>
      {% for n in ipynb %}
      <tr>
        {% if n["url"] %}
        <td><a href="{{n['url']}}" target="_blank">{{n["name"]|e}}</a></td>
        {% else %}
        <td>{{n["name"]|e}}</td>
        {% endif %}
        <td class="dp-comment" dp-path="{{n['path']}}">{{n["comment"]|e}}</td>
        <td>{{n["path"]|e}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
